*, *:before, *:after {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;		/* Firefox, other Gecko */
	box-sizing: border-box;				 /* Opera/IE 8+ */
}

html,
body {
	height: 100%;
	background-color: #111;
}
body {
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}
h1 { font-weight: 300; }

.copyright {
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 30px;
}

/*
 * Site Title
 */

.sitetitle {
	padding: 0 20px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
	/* Pull out the header and footer */
	.copyright {
		position: fixed;
		bottom: 0;
	}
	/* Start the vertical centering */
	.site-wrapper {
		vertical-align: middle;
	}
	/* Handle the widths */
	.copyright,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 992px) {
	.copyright,
	.cover-container {
		width: 700px;
	}
}